@import 'bootstrap/scss/bootstrap';
//@import 'bootstrap-icons/font/bootstrap-icons.css';

.welcome-page {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom right, #009799, #005f5f);
    color: #fff;
    min-height: 100vh;
}

.welcome-page .logo img {
    max-width: 150px;
}

.welcome-page .language-selector img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

.welcome-page .button {
    background: linear-gradient(45deg, #ff7e5f, #feb47b);
    border: none;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.welcome-page .button:hover {
    background: linear-gradient(45deg, #feb47b, #ff7e5f);
    transform: translateY(-3px);
}

.welcome-page footer a {
    color: #009799;
}
